.user-component__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-component__subtitle i {
  color: rgb(238, 87, 87);
  font-size: 20px;
  margin-left: 3px;
}
.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
